.CategoryFilter {
  display: flex;
}

.CategoryFilter-input input {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  border: none;
  font-size: 1rem;
  padding: 10px;
  border-top-left-radius: 0.4rem;
  border-top-right-radius: 0.4rem;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
  border: 1px solid lightseagreen;
}

.CategoryFilter-label {
  padding: 10px;
}

.Category-choose {
  background-color: #333;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 5px;
  cursor: pointer;
  border-bottom-left-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
}
