.CategoryFilter {
  display: flex;
}

.CategoryFilter-input input {
  font-family: "Roboto", sans-serif;
  border: none;
  font-size: 1rem;
  padding: 10px;
  border-top-left-radius: 0.4rem;
  border-top-right-radius: 0.4rem;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
  border: 1px solid lightseagreen;
}

.CategoryFilter-label {
  padding: 10px;
}
