.GameCard {
  width: 450px;
  display: flex;
  flex-direction: column;
  border-radius: 0.8rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 10px;
  margin: 10px;
}

.GameCard-title {
  font-size: 2rem;
  padding: 15px;
  text-align: center;
}

.GameCard-body {
  display: flex;
  padding-top: 20px;
}

.GameCard-thumbnail {
  padding-left: 10px;
}

.GameCard-description {
  padding-left: 20px;
  padding-right: 20px;
  line-height: 1.5;
}
.GameCard-link {
  text-align: end;
  font-weight: 700;
  padding: 15px;
}

.GameCard-link a {
  text-decoration: none;
  color: lightseagreen;
}

@media (max-width: 425px) {
  .GameCard-link {
    font-size: 0.8rem;
  }
}
